   <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
     <div class="col-md-10 col-12 mx-auto">
      <h1 class="tect-centert main-heading">About Us</h1>
      <p class="tect-centert sub-heading">grow your business with us</p>
      <div class="row">
         <div class="col-md-6 col-12 hero-text ">
<figure>
  <img src="images/about.svg" alt="herosection_image">
</figure>
        </div>
        <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
          <h1>WE ARE THE PROFESSIONAL DEVELOPER✌️</h1>
          <p>welcomt ot  <span class="bold-style"> Thapa Technical✌️</span>
          ,your Number one source for all thins.we are dedicated to giving you the very best of work ,with a focus on [Three Characteristics customer service]</p>
          <button class="btn-style btn-primary">Read more</button>
        </div>
       

      </div>
     </div>
    </div>
   </div>