<div class="containter-fluid mt-5 contact-style" id="contactid">
<div class="row">
  <div class="col-md-6 col-12 mx-auto">
    <h1 class="text-centrt main-heading">contact Us</h1>
    <p class="text-center sub-heading">we will be happy you</p>
     <div class="row">
  <div class="col-md-6 col-12 mx-auto">
    <form action="/contact" method="POST">
     <div class="form-group">
    <label for="pwd">Name</label>
    <input type="text" class="form-control" name="name" placeholder="Full Name" >
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter your email" id="email">
  </div>
 
   <div class="form-group">
    <label for="pwd">Phone</label>
    <input type="number" class="form-control" placeholder="Phone Number" name="phone" >
  </div>
 <div class="form-group">
    <label for="pwd">Message</label>
    <input type="text" class="form-control" placeholder="Message" name="message" >
  </div>  

  <button type="submit" class=" btn-style btn-primary">Submit</button>
</form>
  </div>
     </div>
  </div>
</div>
</div>


